<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Biwabit</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <style type="text/css">
      body { padding-top: 70px; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Industrial Shields AR 38+</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h1>Distance meter <small>max: 200cm</small></h1>
          <div class="progress">
            <div id="distance-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="200" style="width: 100%;">
              0cm
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Output</h2>
            </div>
            <div class="panel-body">
              <pre id="sensor-log" class="pre-scrollable"></pre>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <!-- /.container -->

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io();
      var maxDistance = 200;

      socket.on('arduino:message', function(data) {
        var log = "received " + JSON.stringify(data) + " at " + new Date() + "\n";
        var barWidth = data.distance * 100 / maxDistance;

        $('#sensor-log').prepend(log);

        $('#distance-bar')
          .attr('aria-valuenow', data.distance)
          .css('width', barWidth + '%')
          .html(data.distance + data.unit);
      });
    </script>
  </body>
</html>
